<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@97,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
</head>

<body>
    <footer class="flex flex-col gap-4">
        <div class="flex gap-[20rem]">
            <div class="w-fit m-4 ml-8 font-poppins">
                <a
                    class="[text-decoration:none] relative font-bold inline-block min-w-[123px] text-[inherit] mq450:text-[21px] w-fit logo">
                    <span>FinMate<span class="dot">.</span></span>
                </a>
                <div class="flex flex-col w-[15vw] h-fit mt-10">
                    <h1 class="text-white font-normal footer-title-cnt">CONTACT US</h1>
                    <div class="flex flex-col">
                        <h3 class="mt-[15px] font-extralight footer-content">Email: contact@finmate.in</h3>
                        <h3 class="font-extralight footer-content">Ph. No: 987 XXXX XXX</h3>
                    </div>
                </div>
            </div>
            <div class="w-[100vw] h-[27vh] flex gap-1 font-inter">
                <div class="flex flex-col items-start w-[20vw] h-[22vh] mt-10">
                    <h1 class="text-white font-normal footer-title">PRODUCT</h1>
                    <div class="flex flex-col gap-3">
                       <a href=""> <h3 class="mt-[15px] font-extralight footer-content">Learn For Free</h3></a>
                       <a href=""> <h3 class="font-extralight footer-content">1:1 Mentorship</h3></a>
                       <a href=""> <h3 class="font-extralight footer-content">Trading Simulator</h3> </a>
                      <a href="">  <h3 class="font-extralight footer-content">Portfolio Management</h3></a>
                    </div>
                </div>
                <div class="flex flex-col w-[20vw] h-[22vh] mt-10">
                    <h1 class="text-white font-normal footer-title">COMPANY</h1>
                    <div class="flex flex-col gap-3 w-fit">
                        <h3 class="mt-[15px] font-extralight footer-content">Policy</h3>
                        <h3 class="font-extralight footer-content">Terms n Conditions</h3>
                    </div>
                </div>

                <div class="flex flex-col w-[20vw] h-[22vh] mt-10">
                    <h2 class="text-lg font-inter font-normal mb-2">Subscribe to our Newsletter</h2>
                    <form class="flex justify-start">
                        <input type="email" placeholder="Enter your email" class="w-[50%] p-2 text-black rounded-l-md focus:outline-none">
                        <button type="submit" class="bg-coral text-white p-2 rounded-r-md hover:bg-coral">Subscribe</button>
                    </form>
                </div>

            
                
            </div>
        </div>

    </footer>

</body>

</html>