<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@97,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
</head>
<body>
    <nav class=" flex justify-between items-center gap-9 w-[100vw] h-[10vh] bg-whitesmoke drop-shadow-2xl">

        <div class="flex  relative overflow-hidden nav ml-9 font-poppins">
            <a
                class="[text-decoration:none] relative font-extrabold inline-block min-w-[123px] text-[inherit] mq450:text-[21px] w-fit left-0 logo cursor-default " href="/">
                <span>FinMate<span class="dot">.</span></span>
            

            </a>
            
        </div>
        <div class=" flex relative overflow-hidden gap-9 font-inter mr-9 ">
            <a class=" h-12  [text-decoration:none] relative font-extrabold min-w-[123px] text-[inherit] mq450:text-[21px] w-1 left-0 logo justify-center flex flex-col gap-1 items-center rounded-lg cursor-default" href="/get-edu">
                <span class=" navlink font-light text-[18px]" >LEARN</span>

            </a>
            <a class=" [text-decoration:none] relative font-extrabold min-w-[123px] text-[inherit] mq450:text-[21px] w-fit left-0 logo  justify-center flex flex-col gap-1 items-center rounded-lg cursor-default" href="#">
                <span class=" navlink font-light text-[18px] ">1:1 MENTORSHIP</span>

            </a>
            <a class=" [text-decoration:none] relative font-extrabold min-w-[123px] text-[inherit] mq450:text-[21px] w-fit left-0 logo   justify-center flex flex-col gap-1 items-center cursor-default" href="/get-trading">
                <span class=" navlink font-light text-[18px]">TRADING SIMULATOR</span>

            </a>
            <a class=" [text-decoration:none] relative font-extrabold min-w-[123px] text-[inherit] mq450:text-[21px] w-fit left-0 logo   justify-center flex flex-col gap-1 items-center cursor-default" href="#">
                <span class="navlink font-light text-[18px]">PORTFOLIO</span>

            </a>
        </div>
    </nav>
    
</body>
</html>